@font-face {
  font-family: "pretendard";         
  src: url("../public/assets/fonts/PretendardVariable.woff2");
}

:root {
  font-family: pretendard;
  line-height: 1.5;
  font-weight: 400;
  background-color: #242424;
}

/** reset css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Pretendard Variable', 'Noto Sans KR', sans-serif;
  font-weight: 400;
  background-color: var(--mm-scale-color-grey-00);
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}

a {
  text-decoration-skip-ink: auto;
  color: currentColor;
  text-decoration: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -user-drag: none;
}
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input:focus {outline:none;}


/* swiper */
/* .swiper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.swiper-slide {
  width: 100%;
  height: 384px;
  min-width: 360px;
  max-width: 450px;
  text-align: center;
  font-size: 18px;
  padding: 16px;
}

.swiper-pagination {
  margin: 10px 0;
}

.swiper-pagination-bullet {
  background: #d9d9d9 !important;
}
.swiper-pagination-bullet-active {
  background: #2294FF !important;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}